<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472814168339-jn93ub1493t30iipaeddnqh50gacguvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472814168339-jn93ub1493t30iipaeddnqh50gacguvj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472814168339-9r5se8vev2q7iib0n40m12bank75600r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqWvKtVcYcbtVPYgoYxgPxqzeguWArdzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>472814168339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agoraZikrabyte.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>assignmentwandoor</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmentwandoor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472814168339:ios:fa1c4f49d60da5e71d92e6</string>
</dict>
</plist>